/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #212121;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: none !important; }

a {
  -webkit-tap-highlight-color: transparent;
  cursor: none !important; }
  a:focus {
    outline: 0; }

h1 {
  font-weight: bold;
  font-size: 24px; }

.text-center {
  text-align: center; }

p {
  line-height: 1.5; }

strong {
  font-weight: bold; }

.large-p {
  font-size: 24px; }

nav {
  background: #424242;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 64px; }
  nav > div {
    flex-grow: 1;
    flex-basis: 0; }
    nav > div:nth-of-type(2) {
      text-align: center;
      padding-left: 64px; }
    nav > div:nth-of-type(3) {
      text-align: right;
      padding-right: 64px; }

.content {
  padding: 50px;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0; }
  .content > div {
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    flex-basis: 0; }

.beer {
  background: #3f92e9;
  margin-right: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: white; }

.beer-button-container {
  display: flex;
  flex-direction: row; }
  .beer-button-container > div {
    padding: 20px; }
    .beer-button-container > div > i {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: white;
      color: #3f92e9;
      display: flex;
      font-size: 40px;
      justify-content: center;
      align-items: center; }
      .beer-button-container > div > i .material-icons {
        font-size: 40px; }

.add-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 1s;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #6dacee;
  padding: 50px 25px 25px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .add-overlay p {
    line-height: 1.5; }
  .add-overlay.open {
    top: 0; }

.add-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .add-counter .material-icons {
    font-size: 40px; }
  .add-counter > div {
    padding: 20px; }
  .add-counter h2 {
    margin-bottom: 0; }

.add-submit {
  padding: 20px;
  border-radius: 50px;
  background: white;
  color: #3f92e9; }

.beer-add-close {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px; }
  .beer-add-close .material-icons {
    font-size: 40px; }

.beer-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 1s;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #6dacee;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .beer-overlay.open {
    top: 0; }
  .beer-overlay img {
    width: 40px;
    border-radius: 50%; }
  .beer-overlay h3 {
    color: white;
    font-size: 2rem;
    padding: 1rem 0 2rem; }

.inventory-container {
  flex-grow: 1;
  overflow-y: auto; }

.inv-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: .5rem;
  border-radius: 100px;
  margin-bottom: 1rem; }
  .inv-tile p {
    width: 40px; }

.beer-close {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px; }
  .beer-close .material-icons {
    font-size: 40px; }

.spotify {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 110px 0 30px;
  box-sizing: border-box; }
  .spotify a {
    color: white; }
    .spotify a:active .material-icons {
      color: #1ED760; }
  .spotify > * {
    position: relative; }
  .spotify .material-icons {
    color: white;
    font-size: 50px;
    padding: 10px; }
  .spotify:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.8));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); }

.spot-text {
  color: white;
  text-align: center;
  max-width: 90%; }

.spot-controls .active {
  color: #1ED760; }
  .spot-controls .active i {
    color: #1ED760; }

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.fab {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  box-sizing: border-box;
  align-items: center; }
  .fab .hidden {
    transition: transform .5s;
    transform: scale(0); }
  .fab.fab-open .hidden {
    transform: scale(1); }

.fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  color: white; }
  .fab-btn.color {
    box-sizing: border-box;
    transition: transform .5s, border .5s;
    border: 0px solid white; }
    .fab-btn.color.selected {
      border: 4px solid white; }
  .fab-btn.non-color {
    transition: transform .5s, background .5s; }
    .fab-btn.non-color .material-icons {
      transition: color .5s; }
    .fab-btn.non-color.selected {
      background: white; }
      .fab-btn.non-color.selected .material-icons {
        color: #414141; }
  .fab-btn.small {
    width: 40px;
    height: 40px;
    border-radius: 50%; }

.red {
  background: #f54040; }

.pink {
  background: #f576e1; }

.purple {
  background: #ac33f5; }

.blue {
  background: #3e5df5; }

.teal {
  background: #69dbf5; }

.green {
  background: #75f572; }

.orange {
  background: #f57d56; }

.strobe {
  background: #414141; }

.power {
  background: #414141; }

/*# sourceMappingURL=style.css.map */
